ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

* {
  background: transparent;
}

/* Atoms */

.button {
  font-weight: 500;
  line-height: 20px;
  padding: 12px 10px;
  transition: opacity 0.2s ease-out, background-color 0.2s ease-out;
  cursor: pointer;
  border-radius: 36px;
}

.button--primary {
  border: none;
  color: var(--text-white);
  background: var(--background-button);
  box-shadow: 0px 0px 0px 1px #5e5e6e, 0px 1px 2px 0px rgba(17, 17, 20, 0.4);
}

.button--secondary {
  border: none;
  color: var(--text-loud);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(193, 199, 208, 0.02) 100%),
    var(--primary-white, #fff);
  box-shadow: 0px 0px 0px 1px #5e5e6e, 0px 1px 2px 0px rgba(17, 17, 20, 0.4);
}

.button--tertiary {
  border: none;
  color: var(--text-1);
  border-radius: 0;
  padding: 0 8px;
}

.button:active:not(:disabled) {
  opacity: 0.7;
}

.input-wrapper {
  height: 2.625rem;
  width: 100%;
  padding: 0.75rem 10px;
  box-shadow: 0px 0px 0px 1px var(--neutral-alpha-50), 0px 1px 2px 0px var(--neutral-alpha-100);
  border-radius: 2.25rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  background: var(--background-input);
}

.button--primary,
.button--secondary,
.input-wrapper {
  width: calc(100% - 2px);
  margin: 0 1px;
}

.button--small {
  width: fit-content;
  padding: 4px 10px;
}

.input {
  width: 100%;
  border: 1px solid transparent;
  outline: none;
  color: var(--text-1);
}

.input__wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.input__label {
  color: var(--text-2);
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  /* 142.857% */
}

.input__message {
  width: 100%;
  display: flex;
  padding: 0 0 20px;
}

.input__message__close {
  cursor: pointer;
  background: transparent;
  border: 1px solid transparent;
  display: flex;
}

.input__message__replying {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0 4px;
}

.input__message__title {
  color: var(--text-1);
  font-size: var(--size-1);
}

.input__message__container {
  display: flex;
  gap: 0.75rem;
  align-items: flex-end;
}

.input__cta {
  border: 1px solid transparent;
  background: transparent;
  outline: none;
  cursor: pointer;
}

.input--error-container {
  box-shadow: 0px 0px 0px 1px var(--secondary-red-100), 0px 0px 0px 2px var(--background-white),
    0px 0px 0px 3px rgba(223, 28, 65, 0.24), 0px 1px 2px 0px rgba(150, 19, 44, 0.32);
}

.input--error {
  display: flex;
  gap: 2px;
  color: var(--secondary-red-100);
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  align-items: center;
  padding-top: 6px;
}

.notification {
  background: var(--background-modal);
  color: var(--text-1);
  border: 1px solid transparent;
  width: 100%;
  padding: var(--size-1);
  text-align: left;
  position: absolute;
  z-index: 100;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  min-height: 60px;
  border-radius: 8px;
  left: 0;
}

.notification__title {
  font-size: var(--font-size-0);
  font-weight: bold;
}

.notification__body {
  font-size: var(--font-size-0);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: var(--size-0);
}

/* Molecules */

.message-view--replying,
.message-view--reply,
.message-view {
  color: var(--text-1);
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.message-view:hover {
  cursor: pointer;
}

.message-view--replying {
  background: transparent;
  border-radius: var(--size-2) var(--size-2) 0 0;
  width: 100%;
}

.room-view {
  border: 1px solid transparent;
  max-width: 100%;
  padding: 0.5rem 0;
  text-align: left;
  transition: opacity 0.2s ease-out, background-color 0.2s ease-out;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  gap: var(--size-1);
  width: 100%;
  border-bottom: 1px solid var(--border);
}

.room-view:active:not(:disabled) {
  opacity: 0.7;
}

.room-view__title {
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  color: var(--text-1);
  height: 24px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.room-view__message {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  color: var(--text-2);
  height: 20px;
  margin-top: 4px;
}

/* Page */

.page {
  display: flex;
  height: 100vh;
  padding: 0 1rem;
}

.chat {
  height: 100%;
  width: 100%;
  position: relative;
}

.restoring__title {
  color: var(--text-1);
}

.messages-list,
.list,
.rooms-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: var(--size-2) 0;
  gap: var(--size-0);
  overflow-y: auto;
  width: 100%;
}

.messages-list--skeleton {
  overflow: hidden;
}

.messages-list {
  flex-grow: 1;
}

.rooms-list {
  padding: 0;
  gap: 0;
  height: fit-content;
  min-height: 78px;
}

.list {
  padding: 0;
}

.list__cta {
  margin: 0 auto;
  padding: 10px 0;
}

.messages-list {
  gap: var(--size-0);
  padding: 0;
  height: calc(100dvh - 72px - 62px);
  flex-direction: column-reverse;
}

.options {
  display: flex;
  flex-direction: column;
  /* width: 25vw; */
  width: 100%;
  gap: 10px;
}

.spinner-dual-ring {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  margin: auto;
}

.spinner-dual-ring--center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.spinner-dual-ring:after {
  content: " ";
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 6px solid var(--text-1);
  border-color: var(--text-1) transparent var(--text-1) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

.column {
  display: flex;
  flex-direction: column;
}

.column .spinner-dual-ring {
  margin: 0;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Custom */

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(var(--text-2, 0.5));
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--text-2);
  border-radius: 5px;
}

/* Responsive */

/* @media only screen and (min-width: 767px) {
  .
} */

/* @media only screen and (max-width: 767px) {
  .chat {
    flex-direction: column;
  }

  .options,
  .messages-list {
    width: 100%;
  }

  .messages-list {
    margin-top: 0;
    height: calc(100dvh - 88px - 157px);
  }

  .list {
    flex-direction: row;
    margin-top: 40px;
  }

  .room-view {
    min-width: fit-content;
  }
} */

.fade-in-below {
  animation: fade-in-below 0.5s;
}

@keyframes fade-in-below {
  0% {
    opacity: 0;
    transform: translate(0, 10vh);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes fade-in-left {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.fade-in {
  animation: fade-in 0.5s;
}

.fade-in-left {
  animation: fade-in-left 0.2s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.row>* {
  flex: 1;
}

.button--disabled {
  background: var(--background-disabled);
  color: var(--text-disabled);
  border: 0;
  box-shadow: none;
  cursor: not-allowed;
}

.file {
  cursor: pointer;
  border: none;
  width: 100%;
  height: 2.625rem;
  background: var(--neutral-solid-100);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 12px;
}

.file__content {
  width: 100%;
  display: flex;
  gap: 4px;
}

.file__description {
  color: var(--text-1);
}

@media (prefers-color-scheme: dark) {
  .file {
    background: var(--neutral-solid-600);
  }
}

.hover-menu {
  display: none;
  position: relative;
  min-width: 140px;
  width: fit-content;
  max-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 8px;
  margin: 0 0 0 auto;
  background: var(--background-modal);
  right: 10px;
}

.hover-menu--show {
  display: block !important;
}

.hover-menu__option {
  border: 1px solid transparent;
  width: 100%;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 8px;
}

.hover-menu__option__title {
  color: var(--text-1);
}

.hover-menu>ul>li>button {
  cursor: pointer;
}

.hover-menu>ul>li:not(:last-child) {
  border-bottom: 1px solid var(--border);
}

.dropdown {
  margin: 0 var(--size-1) 8px auto;
  max-width: 80%;
  width: fit-content;
}

.dropdown:hover .hover-menu {
  display: block;
}

.dropdown--left {
  margin: 0 var(--size-1) 8px;
}

.dropdown--left .hover-menu {
  left: 40px;
}

.message-container {
  border-radius: 16px;
  background: var(--background-button);
  color: var(--text-white);
  display: flex;
  margin: 0 0 0 auto;
  overflow: auto;
}

.message-wrapper {
  padding: 10px;
  border-radius: 16px;
  background: var(--background-message);
  height: 100%;
  overflow: auto;
}

.message__content {
  display: flex;
  flex-direction: column;
  white-space: pre-line
}

.message__container__content {
  font-size: var(--font-size-0);
  display: flex;
  gap: 11px;
  align-items: flex-end;
  justify-content: space-between;
}

.message__time {
  color: var(--text-disabled);
  text-align: right;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-style: italic;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

.message__sender {
  color: var(--text-1);
  font-weight: 500;
}

.message__content__image--is-replying {
  border-radius: var(--size-1);
  margin-top: var(--size-1);
  width: 28px;
}

.message__content__image--not-replying {
  border-radius: var(--size-1);
  margin-top: var(--size-1);
  max-width: 70dvw;
  width: 100%;
  max-height: calc(60vh - 30px);
  object-fit: contain;
}

.message__content__video--is-replying {
  border-radius: var(--size-1);
  margin-top: var(--size-1);
  width: 28px;
}

.message__content__video--not-replying {
  border-radius: var(--size-1);
  margin-top: var(--size-1);
  max-width: 70dvw;
  width: 100%;
  height: calc(60vh - 30px);
}

.message__content__html--is-replying {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.message__content__file {
  margin-top: var(--size-1);
}

.message__content__thread {
  gap: 8px;
  margin-top: var(--size-1);
}

.message__content__thread-container {
  display: flex;
  gap: 4px;
}

.message__content__thread-count {
  color: var(--text-subdued);
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.message-reply {
  width: calc(100% - 30px);
}

.message__header {
  display: flex;
  justify-content: space-between;
}

.messase-reply__wrapper--is-replying-me {
  background: transparent;
  color: var(--text-white);
  margin: var(--size-0) 0;
  padding: 0 var(--size-0);
  border-left: 2px solid var(--primary-100);
}

.messase-reply__wrapper--not-replying-me {
  margin: var(--size-0) 0;
  padding: 0 var(--size-0);
  border-left: 2px solid var(--primary-100);
}

.message-reply--is-replying-me {
  color: var(--text-white);
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
}

.message-reply--not-replying-me {
  color: var(--text-1);
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
}

.message-reply__content--text {
  margin-top: var(--size-0);
  font-size: var(--font-size-0);
  white-space: pre-line;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.message-reply__content--media {
  border-radius: var(--size-1);
  margin-top: var(--size-1);
  width: 28px;
}

.message-reply__content--file,
.message-reply__content--video {
  margin-top: var(--size-0);
}

.message-reply__content--html {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.attach {
  cursor: pointer;
  border: none;
  border-radius: 100%;
}

.attach--button {
  background: var(--background-button);
  max-width: 2.625rem;
  width: 100%;
  height: 2.625rem;
}

.attach--avatar {
  background: var(--neutral-solid-900);
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0 auto;
}

.attach--input {
  visibility: hidden;
  width: 0;
  display: none;
}

.avatar {
  width: var(--avatar-size);
  min-width: var(--avatar-size);
  height: var(--avatar-size);
  background: linear-gradient(var(--accent-aqua-25), var(--accent-aqua-50));
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar--round {
  border-radius: 100% !important;
}

.avatar--semi-round {
  border-radius: 20% !important;
}

.avatar--initial {
  font-size: calc(var(--avatar-size) * 0.4);
  color: var(--text-normal);
}

.card {
  width: 100%;
  height: fit-content;
  padding: 16px;
  -webkit-box-shadow: 0px -4px 16px -12px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 0px -4px 16px -12px rgba(0, 0, 0, 0.54);
  box-shadow: 0px -4px 16px -12px rgba(0, 0, 0, 0.54);
  background: var(--background);
}

.card-container {
  height: 70px;
  width: 70px;
  position: relative;
}

.card__media {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border: 0.5px solid #0001;
  position: relative;
  background: var(--background-loud);
}

.card__cta {
  cursor: pointer;
  background: var(--background);
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.54);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.54);
  position: absolute;
  border: 1px solid transparent;
  right: -5px;
  top: -5px;
  border-radius: 100%;
  padding: 0;
  height: fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin: 20px 0;
  padding: 0 10px;
}

.header__content {
  display: flex;
  gap: 24px;
  align-items: center;
}

.header__title {
  color: var(--text-1);
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.header__cta {
  cursor: pointer;
  background: transparent;
  border: 1px solid transparent;
  padding: 0;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 0;
  background: var(--background);
  justify-content: space-around;
}

.nav-wrapper {
  color: var(--text-1);
  display: flex;
  gap: 0.5rem;
  align-items: center;
  width: 100%;
  padding: 1rem 0;
  background: var(--background);
  font-weight: 600;
  font-size: var(--font-size-0);
}

.nav__title {
  color: var(--text-1);
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.nav__cta {
  cursor: pointer;
  background: transparent;
  border: 1px solid transparent;
  padding: 0;
}

.helper {
  width: 100%;
  min-height: 100px;
  min-width: 150px;
  max-width: 390px;
  color: var(--text-1);
  border-radius: var(--size-1);
  padding: var(--size-3);
  transition: opacity 0.2s ease-out, background-color 0.2s ease-out;
  background: var(--background-modal);
  text-align: left;
  border: 1px solid transparent;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: var(--size-0)
}

.helper__title {
  font-size: 1.15em;
}

.helper__description {
  font-size: 1em;
}

.helper__subtitle {
  padding-top: var(--size-2);
}

.helper__example {
  font-size: 1em;
}

.loading__title {
  color: var(--text-1);
}

.user {
  border-radius: 16px;
  border: 0.5px solid var(--border-normal-50);
  background: var(--background-loud);
  color: var(--text-white);
  display: inline-block;
  width: fit-content;
  max-width: 80%;
  margin: 0 var(--size-1) 0 auto;
}

.user__wrapper {
  display: flex;
  justify-content: space-between;
}

.user__content {
  color: var(--text-1);
  font-weight: 500;
}

.attach__input {
  visibility: hidden;
  width: 0;
  display: none;
}

.attach__wrapper--image {
  height: 100%;
}

.attach__content--image {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border: 0.5px solid #0001;
  position: relative;
  background: var(--background-loud);
}

.attach__wrapper--video {
  height: 100%;
  display: flex;
  justify-content: center;
  background: var(--background);
  flex-direction: column;
}

.attach__content--video {
  height: 70%;
}

.attach__cta--video {
  margin: 24px auto;
  width: 50%;
}

.attach__wrapper--file {
  height: 100%;
  background: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.attach__content--file {
  background: var(--background-modal);
  padding: 24px;
  border-radius: 16px;
}

.attach__title--file {
  color: var(--text-1);
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.24px;
  text-align: left;
}

.attach__spacer {
  margin-top: 24px;
}

.messages-list--is-thread {
  padding-bottom: 12px;
}

.messages-list--not-thread {
  padding: 0px;
}

.messages-list__wrapper {
  display: flex;
  flex-direction: column;
  background: var(--background);
  border-radius: 8px;
}

.menu {
  width: 100%;
  height: calc(100% - 75px);
  background: #0006;
  z-index: 100;
  position: absolute;
}

.menu__content {
  width: 75%;
  height: 100%;
  background: var(--background);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 16px;
}

.modal {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 100;
}

.modal__wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: var(--background);
  padding: 24px 18px 32px;
  border-radius: 28px 28px 0px 0px;
  z-index: 20;
}

.modal__title {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.modal__user {
  width: 100%;
  display: flex;
  gap: 10px;
}

.modal__user__title {
  color: var(--text-1);
  text-align: center;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
}

.modal__user__subtitle {
  color: var(--text-2);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  text-align: left;
}

.modal__cta--hide {
  position: absolute;
  background: var(--background-shadow);
  height: 100%;
  width: 100%;
  z-index: 10;
}

.modal__cta--close {
  cursor: pointer;
  background: transparent;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.18);
  border: 1px solid transparent;
  border-radius: 100%;
  padding: 0;
  height: fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
}

.modal__cta__container {
  width: 100%;
  display: flex;
  gap: 8px;
  margin-top: 36px;
}

.modal__cta__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2px;
  align-items: center;
  border: 1px solid transparent;
  cursor: pointer;
}

.modal__cta__title {
  overflow: hidden;
  color: var(--text-1);
  text-align: center;
  text-overflow: ellipsis;
  whitespace: nowrap;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}

.active-room {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 100%;
  width: 60%;
  resize: horizontal;
  overflow: auto;
}

.active-room__close {
  cursor: pointer;
  background: transparent;
  border: 1px solid transparent;
  padding: 0;
}

.active-room__thread {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 40%;
  background: var(--background-modal);
  border-radius: 16px;
  padding: 12px 12px 0;
}

.active-room__thread__head {
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.active-room__thread__title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  width: 80%;
}


.group {}

.group__attach {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: relative;
  background: var(--background-loud);
  border-radius: 100%;
}

.group__cta__wrapper {
  position: fixed;
  background: var(--background);
  height: fit-content;
  width: 100%;
  padding: 12px 10px;
  left: 0;
  bottom: 0;
}

.group__title {
  margin-top: 24px;
}

.group__cta--close {
  cursor: pointer;
  border: none;
  border-radius: 100%;
  max-width: 2.625rem;
  width: fit-content;
  height: 2.625rem;
  padding: 0;
}

.group__users {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.group__form {
  margin-top: 10px;
}

.group__checked-users {
  display: flex;
  gap: 10px;
}

.chat-list {
  padding: 0px 0 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: calc(100vw - 20px);
}

.chat-list__wrapper {
  display: flex;
  gap: 8px;
  flex-direction: column;
  padding: 10px 0 0;
}

.chat-list__rooms {
  display: flex;
  gap: 8px;
  flex-direction: column;
  width: 100%;
  resize: horizontal;
  overflow: auto;
  width: 30%;
  min-width: 90px;
  padding: 10px 10px 0px;
  border-right: 1px solid var(--border);
  height: calc(100vh - 80px);
}

.chat-list__active-room {
  display: flex;
  gap: 12px;
  flex-direction: row;
  width: 200px;
  flex-grow: 1;
  height: calc(100vh - 80px);
  position: relative;
}

.profile__attach {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: 0.5px solid #0001;
  position: relative;
  background: var(--background-loud);
  border-radius: 100%;
}

.profile__section {
  margin-top: 40px;
}

.profile__title {
  color: "var(--text-1)";
}

.profile__subtitle {
  margin-top: 24px;
  color: var(--text-1);
}

.profile__content {
  margin-top: 12px;
  color: var(--text-2);
}

.profile__input {
  margin-top: 12px;
}

.profile__cta {
  margin-top: 24px;
}

.verify {}

.verify__title {
  margin-top: 40px;
  color: var(--text-1);
}

.verify__spacer {
  margin-top: 24px;
}

.verify__description {
  margin-top: 12px;
  color: var(--text-2);
}

.verify__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: 80px 80px;
  gap: 8px;
  width: calc(100% - 24px);
  margin-top: 24px;
}

.verify__emojis {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
  border-radius: 4px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  align-items: center;
}

.verify__method__title {
  font-size: 30px;
}

.verify__method__description {
  font-size: 12px;
  color: var(--text-1);
}

.verify__info {
  color: var(--text-2);
}

.verify__title--verified {
  margin-top: 40px;
  color: var(--text-1);
}

.verify__description--verified {
  margin-top: 12px;
  color: var(--text-2);
}

.textarea {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.textarea__wrapper {
  resize: none;
  overflow: hidden;
  height: 20px;
}

.textarea__cta {
  height: 20px;
}

.signup__flow {
  display: flex;
  justify-content: center;
}

.padding-reset {
  padding: 0;
}

.room-new__items {
  margin-top: 10px;
}

.room-new__status-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-top: 40px;
  text-align: center;
}

.room-new__status__title {
  font-weight: 500;
  line-height: 20px;
}

.room-new__status__description {
  font-weight: 500;
  line-height: 20px;
}

.room-new__status-cta {
  width: 80%;
}

.skeleton {
  opacity: .7;
  animation: skeleton-loading 0.75s linear infinite alternate;
  border-radius: 4px;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 90%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.dropdown--skeleton {
  width: 100%;
}

.message-wrapper--skeleton {
  width: 100%;
  padding: 14px;
}

.message__content--skeleton {
  height: 12px;
  width: 100%;
}

.message__time--skeleton {
  height: 8px;
  width: 14%;
}

.message__sender--skeleton {
  height: 12px;
  width: 40%;
  margin-bottom: 4px;
}

.avatar--skeleton {
  background: transparent;
}

.room-view__skeleton {
  width: 100%;
}

.room-view__title--skeleton {
  height: 12px;
  width: 40%;
}

.room-view__message--skeleton {
  height: 12px;
  width: 60%;
}

.rooms-list--skeleton {
  overflow: hidden;
}

.room-view-wrapper--skeleton {
  width: 100%;
}

.room-view--wrap {
  flex-direction: column;
  align-items: center;
  max-width: 200px;
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.05);
  margin: 5px;
  border-radius: 12px;
}

.room-list--wrap {
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 660px;
  margin: auto;
}

.room-menu {
  width: 200px;
  background: var(--background);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.18);
  padding: 12px 6px;
  position: absolute;
  right: 0;
  top: 64px;
  border-radius: 8px;
}

.room-menu__item {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.room-menu__cta {
  border: none;
  color: var(--text-1);
  border-radius: 0;
  padding: 0 8px;
  display: flex;
  cursor: pointer;
  align-items: center;
  gap: 4px;
}

.preview-room {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.preview-room__title {
  margin-top: 24px;
  color: var(--text-1);
  text-align: center;
}

.preview-room__content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  width: 60%;
}

.chat-list__static {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.chat-list__content {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.guest {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.15);
  padding: 12px 24px;
  position: absolute;
  width: 100%;
  bottom: 24px;
  border-radius: 8px;
  gap: 24px;
}

.guest__cta {
  width: 160px;
}


@media only screen and (max-width: 576px) {
  .page {
    overflow: hidden;
  }

  .chat-list {
    width: fit-content;
    margin-right: 16px;
  }

  .chat-list__rooms {
    width: 70vw;
    border: 1px solid transparent;
    background: var(--background-modal);
    border-radius: 16px;
  }

  .chat-list__static {
    width: calc(100vw - 32px);
    margin: 0 16px;
  }

  .chat-list__active-room {
    width: calc(100vw - 32px);
    margin: 0 16px;
  }

  .header {
    position: relative;
    z-index: 10;
  }

  .chat-list-wrapper {
    width: 100vw;
    overflow-x: auto;
    scroll-behavior: smooth;
  }

  .menu {
    width: 100vw;
  }
}
